<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.47)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<h2>Leilões</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/new']">
    Novo Leilão
</button>

<main role="main" class="container espacamento">
    <table datatable [dtOptions]="dtOptions" class="table-sm"  *ngIf="auction?.length > 0">
        <thead class="table-head">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor Inicial</th>
            <th scope="col">Usado</th>
            <th scope="col">Responsável</th>
            <th scope="col">Finalizado</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of auction; let i = index">
            <td>{{row.nomeItem}}</td>
            <td>R$ {{row.valorInicial}}</td>
            <td>{{row.flagUsado ? 'Sim' : 'Não'}}</td>
            <td>{{row.responsavelName}}</td>
            <td>{{row.dataFinalFormat < now.getTime() ? 'Sim' : 'Não'}}</td>
            <td class="text-left edit-block">
              <span class="edit" [routerLink]="['/edit', row.id]">
                <button type="button" class="btn btn-success btn-sm">Editar </button>
              </span>
              <span class="delete" (click)="remove(row)">
                <button type="button" class="btn btn-danger btn-sm">Deletar </button>
              </span>
            </td>
          </tr>
        </tbody>
    </table>
</main>